@charset "UTF-8";

body {
    font-family:Verdana, Geneva, Arial, sans-serif;
    padding: 0px;
    margin: 0px;
}


h1,h2,h3,p,li{
    margin-left: 15px;
}

header{
    background: linear-gradient(#1F3A5F, #2F5D8A);
    color: #FFFFFF;
    padding: 10px;

}

nav {
    background: linear-gradient(45deg, #1F3A5F, #2F5D8A);
    padding: 10px;
}

nav u1 {
    margin:0px;
    padding:0px;
}

nav li {
    display: inline;
    margin-right: 20px;


}

nav a {
    color: #FFFFFF;
    text-decoration: none;

}

main{
    background-color: #1F3A5F;
    padding: 20px;
}
footer {
    background-color: #1F3A5F;
    color:#FFFFFF;
    padding: 10px;
}